body {
  font-family: $Roboto;
  font-size: $font-size;
}

h1 {
  font-weight: $ultra-bold;
  font-size: ($font-size * 2.5);
}

h2 {
  font-weight: $medium;
  font-size: ($font-size * 1.5);
  color: $text-color-secondary;
}
h3 { font-weight: $bold; }
h4 { color: $text-color-secondary; }

p { line-height: 1.85em; }
