// Brand Colors
$brand-primary:   #27ae60;
$brand-secondary: #161616;
$brand-success:   #39d452;
$brand-info:      #21bef7;
$brand-warning:   #f6c941;
$brand-danger:    #cd1f1d;

// Content colors
$content-bg: #ffffff;
$content-bg-seconday: #ededed;

$text-color:           #212121;
$text-color-secondary: #585757;
$text-color-invert:    #fff;

// Typography
$font-size: 1.2em;

$Roboto: 'Roboto', sans-serif;

$thin:        100;
$light:       300;
$normal:      400;
$medium:      500;
$bold:        700;
$ultra-bold:  900;
