<div class="field">
    <label class="field-label" for="textInput">Text input</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something"></textarea>
</div>

<div class="field field-primary">
    <label class="field-label" for="textInput">Text input primary</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something"></textarea>
</div>

<div class="field field-success">
    <label class="field-label" for="textInput">Text input success</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something"></textarea>
</div>

<div class="field field-info">
    <label class="field-label" for="textInput">Text input info</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something"></textarea>
</div>

<div class="field field-warning">
    <label class="field-label" for="textInput">Text input warning</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something"></textarea>
</div>

<div class="field field-danger">
    <label class="field-label" for="textInput">Text input danger</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something"></textarea>
</div>

<div class="field">
    <label class="field-label" for="textInput">Text input disabled</label>
    <textarea class="field-input" name="" id="" rows="1" placeholder="Enter something" disabled></textarea>
</div>