<div class="row">
    <div class="col-xs-6">
        <div class="box">
            <div class="card">
                <div class="card-title"><h1>{{lipsum.title}}</h1></div>
                <div class="card-body">
                    <p>{{lipsum.medium}}</p>
                </div>
                <div class="card-footer">
                    <p>{{lipsum.short}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="box">
            <div class="card">
                <div class="card-title"><h1>{{lipsum.title}}</h1></div>
                <div class="card-body">
                    <p>{{lipsum.medium}}</p>
                </div>
                <div class="card-footer">
                    <p>{{lipsum.short}}</p>
                </div>
            </div>
        </div>
    </div>
</div>