<div class="datalist-title">Datalist title</div>
<ul class="datalist">
    <li class="datalist-item">
        <div class="row">
            <div class="col-xs-1 item-icon text-center">
                <i class="material-icons color-primary">timeline</i>
            </div>
            <div class="col-xs-9 item-info">{{lipsum.short}}</div>
            <div class="col-xs-2 item-value text-center">{{stats.value.short}} days</div>
        </div>
    </li>
    <li class="datalist-item">
        <div class="row">
            <div class="col-xs-1 item-icon text-center">
                <i class="material-icons color-danger">trending_down</i>
            </div>
            <div class="col-xs-9 item-info">{{lipsum.short}} <a href="#">Mauris iaculis consequat massa.</a> {{lipsum.short}}</div>
            <div class="col-xs-2 item-value text-center">{{stats.value.longest}}</div>
        </div>
    </li>
    <li class="datalist-item">
        <div class="row">
            <div class="col-xs-1 item-icon text-center">
                <i class="material-icons color-success">trending_up</i>
            </div>
            <div class="col-xs-9 item-info">{{lipsum.short}}</div>
            <div class="col-xs-2 item-value text-center">{{stats.value.long}}</div>
        </div>
    </li>
</ul>