---
notes: |
  The `.flat` class makes the background color be a lighter version of the button type.
---
<button class="button btn flat">Default</button>
<button class="button btn btn-primary flat">Primary</button>
<button class="button btn btn-success flat">Success</button>
<button class="button btn btn-info flat">Info</button>
<button class="button btn btn-warning flat">Warning</button>
<button class="button btn btn-danger flat">Danger</button>
<button class="button btn flat" disabled>Disabled</button>