<div class="row">

    <div class="col-xs-12">
        <div class="box">
            <div class="user-block">
                <div class="row">
                    <div class="col-xs-2 col-sm-1">
                        <div class="box">
                            <div class="user-icon">
                                <img class="img-responsive" src="{{svgs.avatar.man2}}" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="box">
                            <div class="user-info">
                                <div class="user-name">Jared Thomas</div>
                                <div class="user-stat">Last active {{stats.value.medium}} days ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="user-block">
                <div class="row">
                    <div class="col-xs-2 col-sm-1">
                        <div class="box">
                            <div class="user-icon">
                                <img class="img-responsive" src="{{svgs.avatar.man}}" alt="user">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="box">
                            <div class="user-info">
                                <div class="user-name">Joshua Williams</div>
                                <div class="user-stat">Last active {{stats.value.short}} days ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>