<div class="comparison">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="box comparison-item">
                <div class="comparison-value color-danger">- ${{stats.value.longest2}}</div>
                <div class="comparison-title">Before</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="box comparison-item">
                <div class="comparison-value">${{stats.value.longest3}}</div>
                <div class="comparison-title">After</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="box comparison-item">
                <div class="comparison-value color-success">277.34%</div>
                <div class="comparison-title">Change</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box comparison-graph">
                <svg viewBox="0 0 500 100" class="chart">
                <polyline
                    fill="none"
                    stroke-width="3"
                    points="{{svgs.graphs.line}}"/>
                </svg>
            </div>
        </div>
    </div>
</div>