<div class="comparison">
    <div class="row">
        <div class="col-xs-4">
            <div class="box comparison-item">
                <div class="comparison-title">Before</div>
                <div class="comparison-value color-danger">- ${{stats.value.longest2}}</div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box comparison-item">
                <div class="comparison-title">After</div>
                <div class="comparison-value">${{stats.value.longest3}}</div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box comparison-item">
                <div class="comparison-title">Change</div>
                <div class="comparison-value color-success">277.34%</div>
            </div>
        </div>
    </div>
</div>