<span class="checkbox">
    <input type="checkbox" id="cb"/>
    <label class="checkbox-label" for="cb">Checkbox</label>
</span>

<span class="checkbox checkbox-primary">
    <input type="checkbox" id="cb2"/>
    <label class="checkbox-label" for="cb2">Checkbox</label>
</span>

<span class="checkbox checkbox-success">
    <input type="checkbox" id="cb3"/>
    <label class="checkbox-label" for="cb3">Checkbox</label>
</span>

<span class="checkbox checkbox-info">
    <input type="checkbox" id="cb4"/>
    <label class="checkbox-label" for="cb4">Checkbox</label>
</span>

<span class="checkbox checkbox-warning">
    <input type="checkbox" id="cb5"/>
    <label class="checkbox-label" for="cb5">Checkbox</label>
</span>

<span class="checkbox checkbox-danger">
    <input type="checkbox" id="cb6"/>
    <label class="checkbox-label" for="cb6">Checkbox</label>
</span>