<span class="radio">
    <input type="radio" name="groupName" id="radio1"/>
    <label class="radio-label" for="radio1">Radio 1</label>
</span>

<span class="radio radio-primary">
    <input type="radio" name="groupName" id="radio2"/>
    <label class="radio-label" for="radio2">Radio 2</label>
</span>

<span class="radio radio-success">
    <input type="radio" name="groupName" id="radio3"/>
    <label class="radio-label" for="radio3">Radio 3</label>
</span>

<span class="radio radio-info">
    <input type="radio" name="groupName" id="radio4"/>
    <label class="radio-label" for="radio4">Radio 4</label>
</span>

<span class="radio radio-warning">
    <input type="radio" name="groupName" id="radio5"/>
    <label class="radio-label" for="radio5">Radio 5</label>
</span>

<span class="radio radio-danger">
    <input type="radio" name="groupName" id="radio6"/>
    <label class="radio-label" for="radio6">Radio 6</label>
</span>

