<div class="alert">
    <span class="alert-icon"><i class="material-icons">info_outline</i></span>
    <span class="alert-message">This is an alert about additional information.</span>
</div>

<div class="alert alert-primary">
    <span class="alert-icon"><i class="material-icons">info_outline</i></span>
    <span class="alert-message">This is an alert about additional information.</span>
</div>

<div class="alert alert-success">
    <span class="alert-icon"><i class="material-icons">info_outline</i></span>
    <span class="alert-message">This is an alert about additional information.</span>
</div>

<div class="alert alert-info">
    <span class="alert-icon"><i class="material-icons">info_outline</i></span>
    <span class="alert-message">This is an alert about additional information.</span>
</div>

<div class="alert alert-warning">
    <span class="alert-icon"><i class="material-icons">info_outline</i></span>
    <span class="alert-message">This is an alert about additional information.</span>
</div>

<div class="alert alert-danger">
    <span class="alert-icon"><i class="material-icons">info_outline</i></span>
    <span class="alert-message">This is an alert about additional information.</span>
</div>