<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="box">
            <div class="stat-block">
                <div class="stat-value">{{stats.value.longest}}</div>
                <div class="stat-title">{{stats.type.code}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="box">
            <div class="stat-block">
                <div class="stat-value">{{stats.value.medium}}</div>
                <div class="stat-title">{{stats.type.clicks}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="box">
            <div class="stat-block">
                <div class="stat-value">{{stats.value.long}}</div>
                <div class="stat-title">{{stats.type.users}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="box">
            <div class="stat-block">
                <div class="stat-value">{{stats.value.short}}</div>
                <div class="stat-title">{{stats.type.views}}</div>
            </div>
        </div>
    </div>
</div>