<table class="table table-active table-alternate">
	<thead>
		<tr>
			<th>Date</th>
			<th>Subject</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>7/17/2016</td>
			<td>Whatever you do, do it good.</td>
			<td>Room 102, Hall 32</td>
		</tr>
		<tr>
			<td>6/14/2016</td>
			<td>The latest changes rock!</td>
			<td>Meeting Hall A</td>
		</tr>
		<tr>
			<td>6/12/2016</td>
			<td>We should look at this together.</td>
			<td>154 Broad St.</td>
		</tr>
		<tr>
			<td>5/22/2016</td>
			<td>Review needed</td>
			<td>Conference Rm 241</td>
		</tr>
	</tbody>
</table>