@mixin field-type($color) {
    .field-input:active, .field-input:focus { border-color: $color; }
    input:focus + .field-label,
    textarea:focus + .field-label,
    select:focus + .field-label {
        color: $color;
    }
}