---
title: Overview | BmorCreative Style
fabricator: true
---

<h1>Overview</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<h4><a href="https://necolas.github.io/normalize.css/">Normalize</a></h4>
<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css&quot;&gt;</code></pre>
<h4><a href="http://flexboxgrid.com/">Flexbox Grid</a></h4>
<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css&quot; type=&quot;text/css&quot;&gt;</code></pre>
<h4>Toolkit CSS & JS</h4>
<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>
<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>
<h4><a href="https://design.google.com/icons/">Material Icons</a></h4>
<pre class="language-markup"><code class="language-markup">&lt;link href=&quot;https://fonts.googleapis.com/icon?family=Material+Icons&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;</code></pre>
<h4><a href="https://www.google.com/fonts/specimen/Roboto">Roboto Font Family</a></h4>
<pre class="language-markup"><code class="language-markup">&lt;link href=&quot;https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;</code></pre>
