<div class="field">
    <input class="field-input" type="text" id="textInput" required />
    <label class="field-label" for="textInput">Text input default</label>
</div>

<div class="field field-primary">
    <input class="field-input" type="text" id="textInput" required />
    <label class="field-label" for="textInput">Text input primary</label>
</div>

<div class="field field-success">
    <input class="field-input" type="text" id="textInput" required />
    <label class="field-label" for="textInput">Text input success</label>
</div>

<div class="field field-info">
    <input class="field-input" type="text" id="textInput" required />
    <label class="field-label" for="textInput">Text input info</label>
</div>

<div class="field field-warning">
    <input class="field-input" type="text" id="textInput" required />
    <label class="field-label" for="textInput">Text input warning</label>
</div>

<div class="field field-danger">
    <input class="field-input" type="text" id="textInput" required />
    <label class="field-label" for="textInput">Text input danger</label>
</div>

<div class="field">
    <input class="field-input" type="text" id="textInput" disabled />
    <label class="field-label" for="textInput">Text input disabled</label>
</div>
