<div class="field">
    <textarea class="field-input" rows="1" required ></textarea>
    <label class="field-label" for="textInput">Text input</label>
</div>

<div class="field field-primary">
    <textarea class="field-input" rows="1" required ></textarea>
    <label class="field-label" for="textInput">Text input primary</label>
</div>

<div class="field field-success">
    <textarea class="field-input" rows="1" required ></textarea>
    <label class="field-label" for="textInput">Text input success</label>
</div>

<div class="field field-info">
    <textarea class="field-input" rows="1" required ></textarea>
    <label class="field-label" for="textInput">Text input info</label>
</div>

<div class="field field-warning">
    <textarea class="field-input" rows="1" required ></textarea>
    <label class="field-label" for="textInput">Text input warning</label>
</div>

<div class="field field-danger">
    <textarea class="field-input" rows="1" required ></textarea>
    <label class="field-label" for="textInput">Text input danger</label>
</div>

<div class="field">
    <textarea class="field-input" rows="1" disabled></textarea>
    <label class="field-label" for="textInput">Text input disabled</label>
</div>