input[type="checkbox"] {
    display: none;
}

.checkbox {
    cursor: pointer;
    user-select: none;
}

input[type="checkbox"] + label:before {
    position: relative;
    top: $icon-top-margin;
    font-family: 'Material Icons';
    content: 'check_box_outline_blank';
    font-size: ($font-size + .25em);
    vertical-align: top;
    color: $brand-default;
}

input[type="checkbox"]:checked + label:before {
    position: relative;
    top: $icon-top-margin;
    font-family: 'Material Icons';
    content: 'check_box';
    font-size: ($font-size + .25em);
    vertical-align: top;
}

// Checkbox Color Types

.checkbox-primary .checkbox-label:before { color: $brand-primary; }
.checkbox-success .checkbox-label:before { color: $brand-success; }
.checkbox-info .checkbox-label:before { color: $brand-info; }
.checkbox-warning .checkbox-label:before { color: $brand-warning; }
.checkbox-danger .checkbox-label:before { color: $brand-danger; }