.comparison {
    padding: $container-padding;
    background-color: $content-bg;
    border: $border-size solid $gray-lighter;
    border-radius: $border-radius;
    .comparison-item {
        padding: ($container-padding * 2);
    }
    .comparison-title {
        color: $gray;
    }
    .comparison-value {
        font-size: ($font-size * 1.5);
        font-weight: $ultra-bold;
    }
    .comparison-graph {
        background-color: transparentize($gray-lighter, .5);
        stroke: $brand-primary;
        max-height: 10em;
        overflow: hidden;
        svg { max-height: 10em }
    }
}