// Section
section {
    position: relative;
    top: 1em;
}

// Divider
hr {
    border-color: $brand-default;
}

// Background Colors
.bg-default { background-color: $brand-default; }
.bg-primary { background-color: $brand-primary; }
.bg-success { background-color: $brand-success; }
.bg-info { background-color: $brand-info; }
.bg-warning { background-color: $brand-warning; }
.bg-danger { background-color: $brand-danger; }