input[type="radio"] {
    display: none;
}

.radio {
    cursor: pointer;
    user-select: none;
}

input[type="radio"] + label:before {
    position: relative;
    top: $icon-top-margin;
    font-family: 'Material Icons';
    content: 'radio_button_unchecked';
    font-size: ($font-size + .25em);
    vertical-align: top;
    color: $brand-default;
}

input[type="radio"]:checked + label:before {
    position: relative;
    top: $icon-top-margin;
    font-family: 'Material Icons';
    content: 'radio_button_checked';
    font-size: ($font-size + .25em);
    vertical-align: top;
}

// Radio Color Types

.radio-primary .radio-label:before { color: $brand-primary; }
.radio-success .radio-label:before { color: $brand-success; }
.radio-info .radio-label:before { color: $brand-info; }
.radio-warning .radio-label:before { color: $brand-warning; }
.radio-danger .radio-label:before { color: $brand-danger; }