.table {
    border-collapse: collapse;
    width: 100%;
    background-color: $content-bg;
    thead, tfoot {
        color: $brand-default;
        text-align: left;
    }
    tbody { border: $border-size solid $gray-lighter; }
    tbody tr { border: $border-size solid $gray-lighter; }
    thead th, tfoot th {
        padding: $table-padding;
        color: $gray-light;
        transition: ($animation-duration / 2) all ease;
        &:hover { color: $gray; }
    }
    td, th { padding: $table-padding; }
    th {
        font-size: ($font-size - .15em);
        font-weight: $bold;
        text-transform: uppercase;
    }
}

.table-alternate tbody {
    tr:nth-child(even) {
        background-color: mix($brand-default, $mix-white, 5%);
    }
}

.table-active tbody {
    cursor: pointer;
    tr:hover, tr:active {
        transition: ($animation-duration / 2) all ease;
        color: $text-color-inverted;
    }
    tr:hover { background-color: $brand-primary; }
    tr:active { background-color: mix($brand-primary, $mix-white, 80%); }
}