// Brand Colors
$brand-default:   #121f33;
$brand-primary:   #5689ee;
$brand-success:   #30bb98;
$brand-info:      #4451aa;
$brand-warning:   #f2db77;
$brand-danger:    #e85b5b;

// Content colors
$content-bg: #ffffff;
$content-bg-seconday: #ededed;

$text-color:           #161616;
$text-color-secondary: #585757;
$text-color-inverted:    #fff;

// Black & Whites
$mix-white: #fff;
$mix-black: #000;

$gray: #9E9E9E;
$gray-lighter:  mix($gray, $mix-white, 15%);
$gray-light:    mix($gray, $mix-white, 30%);
$gray-dark:     mix($gray, $mix-black, 30%);
$gray-darker:   mix($gray, $mix-black, 15%);

// Typography
$font-size: 1em;

$Roboto: 'Roboto', sans-serif;

$thin:        100;
$light:       300;
$normal:      400;
$medium:      500;
$bold:        700;
$ultra-bold:  900;

// Defaults

$border-radius: .2em;
$border-size:   .1em;

// Icons
$icon-size: ($font-size + .25em);
$icon-top-margin: .05em;

// Button Defaults
$button-bg: #fff;

$button-height:         .5em;
$button-width:          1em;
$button-border-radius:  $border-radius;
$button-border-size:    $border-size;
$button-margin:         .15em;

// Input Defaults

$input-label-margin: 1em;
$input-label-size:   ($font-size - .075em);
$input-border-size:  .15em;

// Animation
$animation-duration: 0.25s;
