<div class="barchart">
    <div class="barchart-description">Adobe Photoshop</div>
    <div class="barchart-bar" data-percent="74%">
        <div class="barchart-progress" style="width: 74%"></div>
    </div>
</div>
<div class="barchart barchart-primary">
    <div class="barchart-description">Adobe Photoshop</div>
    <div class="barchart-bar" data-percent="34%">
        <div class="barchart-progress" style="width: 34%"></div>
    </div>
</div>
<div class="barchart barchart-success">
    <div class="barchart-description">Adobe Photoshop</div>
    <div class="barchart-bar" data-percent="12%">
        <div class="barchart-progress" style="width: 12%"></div>
    </div>
</div>
<div class="barchart barchart-info">
    <div class="barchart-description">Adobe Photoshop</div>
    <div class="barchart-bar" data-percent="89%">
        <div class="barchart-progress" style="width: 89%"></div>
    </div>
</div>
<div class="barchart barchart-warning">
    <div class="barchart-description">Adobe Photoshop</div>
    <div class="barchart-bar" data-percent="10%">
        <div class="barchart-progress" style="width: 10%"></div>
    </div>
</div>
<div class="barchart barchart-danger">
    <div class="barchart-description">Adobe Photoshop</div>
    <div class="barchart-bar" data-percent="24%">
        <div class="barchart-progress" style="width: 24%"></div>
    </div>
</div>