<div class="row center-xs">
    <div class="col-xs-3">
        <div class="box">
            <div class="piechart" style="width: 200px; height: 200px;">
                <div class="piechart-overlay">
                    <div class="piechart-description">60%</div>
                </div>
                <svg><path d="M100,100 L100,0, A100,100 0 1,1 41.2214747707527,180.90169943749476 z"></path></svg>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <div class="piechart piechart-primary" style="width: 200px; height: 200px;">
                <div class="piechart-overlay">
                    <div class="piechart-description">60%</div>
                </div>
                <svg><path d="M100,100 L100,0, A100,100 0 1,1 41.2214747707527,180.90169943749476 z"></path></svg>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <div class="piechart piechart-success" style="width: 200px; height: 200px;">
                <div class="piechart-overlay">
                    <div class="piechart-description">60%</div>
                </div>
                <svg><path d="M100,100 L100,0, A100,100 0 1,1 41.2214747707527,180.90169943749476 z"></path></svg>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <div class="piechart piechart-info" style="width: 200px; height: 200px;">
                <div class="piechart-overlay">
                    <div class="piechart-description">60%</div>
                </div>
                <svg><path d="M100,100 L100,0, A100,100 0 1,1 41.2214747707527,180.90169943749476 z"></path></svg>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <div class="piechart piechart-warning" style="width: 200px; height: 200px;">
                <div class="piechart-overlay">
                    <div class="piechart-description">60%</div>
                </div>
                <svg><path d="M100,100 L100,0, A100,100 0 1,1 41.2214747707527,180.90169943749476 z"></path></svg>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="box">
            <div class="piechart piechart-danger" style="width: 200px; height: 200px;">
                <div class="piechart-overlay">
                    <div class="piechart-description">60%</div>
                </div>
                <svg><path d="M100,100 L100,0, A100,100 0 1,1 41.2214747707527,180.90169943749476 z"></path></svg>
            </div>
        </div>
    </div>
</div>